<form action="{{ process_url}}" method="post">
  <input type="hidden" name="store_id" value="{{ store_id}}" />
  <input type="hidden" name="tran_id" value="{{ tran_id}}" />
  <input type="hidden" name="total_amount" value="{{ total_amount }}" />
  <input type="hidden" name="cus_name" value="{{ cus_name}}" />
  <input type="hidden" name="cus_add1" value="{{ cus_add1}}" />
  <input type="hidden" name="cus_add2" value="{{ cus_add2 }}" />
  <input type="hidden" name="cus_city" value="{{ cus_city }}" />
  <input type="hidden" name="cus_state" value="{{ cus_state}}" />
  <input type="hidden" name="cus_postcode" value="{{ cus_postcode}}" />
  <input type="hidden" name="cus_country" value="{{ cus_country}}" />
  <input type="hidden" name="cus_phone" value="{{ cus_phone}}" />
  <input type="hidden" name="cus_email" value="{{ cus_email }}" />
  <input type="hidden" name="ship_name" value="{{ship_name}}" />
  <input type="hidden" name="ship_add1" value="{{ ship_add1}}" />
  <input type="hidden" name="ship_add2" value="{{ship_add2}}" />
  <input type="hidden" name="ship_city" value="{{ship_city}}" />
  <input type="hidden" name="ship_state" value="{{ship_state}}" />
  <input type="hidden" name="ship_postcode" value="{{ship_postcode}}" />
  <input type="hidden" name="ship_country" value="{{ship_country}}" />
  <input type="hidden" name="currency" value="{{currency}}" />
  <input type="hidden" name="success_url" value="{{success_url}}" />
  <input type="hidden" name="fail_url" value="{{fail_url}}" />
  <input type="hidden" name="cancel_url" value="{{cancel_url}}" />
  
  
  <input type="hidden" name="value_a" value="{{detail1_text}}" />
  
  <input type="hidden" name="verify_sign" value="{{verify_sign}}" />
  <input type="hidden" name="verify_key" value="{{verify_key}}" />
  
  <div class="buttons">
    <div class="right">
      <input type="submit" value="{{button_confirm}}" class="btn btn-primary" />
    </div>
  </div>
</form>